<div class="mainContainer">
    <div class="container">
        <h1>Hello, {{gameCtrl.name}}</h1>

        <ul>
            <li ng-repeat="game in gameCtrl.games">
                <a href="/#!/game/{{game._id}}">{{game.title}}</a></li>
        </ul>
    </div>
</div>